<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.fs.firebase">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <!-- Firebase Dependencies -->
  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
  <permission android:name="${applicationId}.permission.C2D_MESSAGE"
    android:protectionLevel="signature" />

  <application android:allowBackup="true"
    android:supportsRtl="true">

    <service android:name=".component.InstanceIdService">

      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
      </intent-filter>

    </service>

    <service android:name=".component.RegistrationService" />

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

  </application>
</manifest>
